@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%
}

/*NAV*/

.nav-link.active {
    border-bottom: 1px solid #D50000
}

nav a img {
    height: 70px;
}

.nav-link {
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.nav-link:hover {
    transform: scale(1.15);
    color: #D50000;
    border-bottom: 1px solid #D50000;

}

#principal {
    background-image: linear-gradient(to bottom, rgba(18, 42, 66, .85), rgba(221, 20, 20, 0.308)),
        url('../imagenes/valorant-juego.webp');
    background-size: cover;
    padding: 15px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#principal h1 {
    margin-top: 50px;
}

/*H1*/
h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;
}

/*SUBTITULO*/
.sub {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 40px;
}

/*ABAJO*/
.abajo {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #1b1744;
    padding: 25px;
}

.abajo span a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.abajo span a:hover {
    color: #D50000;
}

/*FOOTER*/
footer {
    background-color: #333234;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 150px;
    padding-top: 25px;
}

.copy {
    font-family:'Roboto', sans-serif;
    font-size: 11px;
}

/*INDEX*/
.text {
    color: #D50000;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.titulo-caja {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-top: 10px;
}

.caja:hover {
    background-color: #D50000;
    transform: scale(1.2);
    color: white;
    transition-duration: 500ms;
}

.explicacion {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.juegos h2 {
    margin-bottom: 3rem;
}

.caja {
    box-shadow: rgba(209, 10, 10, 0.2) 0px 12px 28px 0px, rgba(107, 8, 8, 0.1) 0px 2px 4px 0px, rgba(100, 8, 8, 0.05) 0px 0px 0px 1px inset;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*AYUDA*/
.fayuda {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.colAyuda {
    border: 1px solid #D50000;
    padding: 20px;
    border-radius: 15px;
}

.btn:hover{
    background-color: #D50000;
    color:white;
}

/*USUARIO*/
.preparate {
    color: #D50000;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 1rem;
}

.fecha {
    margin-top: 50px;
}

/*ARSENAL*/
.armas {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.armas img:hover {
    transform: scale(1.15);
    transition-duration: 600ms;
}


/*MAPAS*/
.card-img-top:hover {
    transform: scale(1.10);
    transition-duration: 600ms;
}
/*AGENTES*/
.viperFondoTest {
    border-top: 5px solid black;
    background-image: linear-gradient(to bottom, rgba(18, 42, 66, .85), rgba(221, 20, 20, 0.308)),
        url('../imagenes/viperfondo.png');
    background-size: cover;
    padding: 15px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video {
    display: flex;
    justify-content: center;
    padding: 80px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.personaje:hover {
    transform: scale(1.25);
}

.nombrePersonaje {
    color: #D50000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    font-family: 'Anton', sans-serif;
}

.personaje:hover+.nombrePersonaje {
    transform: scale(1.5);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: whitesmoke;
}

.newAg {
    color: white;
    font-family: 'Anton', sans-serif;
    margin-top: 60px;
    width: 300px;
    height: 100px;
    background: rgb(214, 0, 0);
    transition: width 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newAg:hover {
    width: 80%;
}